* {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
}

.header {
  height: 5em;
  background-color: gray;
  display: flex;
  gap: 5px;
  color: white;
  align-items: center;
  justify-content: center;
  padding-left: 5em;
  padding-right: 5em;
}

.title {
  margin-right: auto;
}

.loop {
  height: 20px;
}

.loop,
.search {
  cursor: pointer;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
}

.form {
  margin: 2em;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

input,
button {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

.form-add {
  margin: 2em;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
